.bookmark {
  &__columns {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // padding: 10px;
    grid-gap: 10px;
    margin-bottom: 10px;

    & > * {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
      // transition: background 0.2s;

      &:hover {
        color: #fff;
        background: #252525;
      }
    }
  }

  &__title {
    grid-column: 1 / 4;
  }

  &__description {
    grid-column: 4 / 7;

    &:hover {
      background: #fff;
      color: #252525;
    }
  }

  &__category {
    grid-column: 7 / 9;
  }

  &__language {
    grid-column: 9 / 12;
  }

  &__entries {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__entry {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.2s;

    &:hover {
      background: #eee;

      & > .bookmark__entry-title > .bookmark__entry-delete {
        opacity: 1;
      }
    }

    & > * {
      display: flex;
      align-items: center;
      padding: 20px;
    }

    &-title {
      grid-column: 1 / 4;
      display: flex;
      justify-content: space-between;

      a {
        font-weight: bold;
      }
    }

    &-description {
      grid-column: 4 / 7;
    }

    &-category {
      grid-column: 7 / 9;
    }

    &-language {
      grid-column: 9 / 12;
      // justify-content: flex-end;
    }

    &-delete {
      opacity: 0;
      transition: all 0.2s;
    }
  }
}
