.post-btn {
  background: none;
  border: 1px solid #777;
  color: #777;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    border-color: #333;
    color: #333;
  }
}

.pagination-btns {
  // position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
  }
}
