.left-panel {
  background: #3c3c3c;
  width: 70px;
  // padding: 14px;
  transition: width 0.6s;

  @media screen and (max-width: 700px) {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: transform 0.6s;
  }

  &.collapsed {
    @media screen and (max-width: 700px) {
      transform: translateX(-100%);

      // .nav-main {
      //   display: none;
      // }
    }
  }

  &.expanded {
    width: 200px;

    @media screen and (max-width: 700px) {
      width: 100%;
      transform: translateX(0%);
    }
  }

  .nav-main {
    .quick-links {
      background-color: #949494;
      padding: 7px;
      margin: 7px;
      border-radius: 7px;
    }

    .regular-links {
      margin: 14px;
    }

    ul {
      list-style: none;
      //   text-align: center;
      li {
        display: flex;
        align-items: center;
        background: #676767;
        padding: 10px;
        border-radius: 7px;
        height: 40px;
        transition: all 0.2s;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &:hover {
          background: #eee;
        }

        .link-wrapper {
          display: flex;
          align-items: center;
          color: #7bc5ca;

          .icon {
            display: flex;
            // align-items: center;
            justify-content: center;
            width: 22px;
            height: 18px;
          }

          .nav-link {
            // display: none;
            display: flex;
            // justify-content: center;
            opacity: 0;
            font-size: 0px;
            width: 0px;
            margin-left: 10px;
            transition: all 0.3s;

            &.show {
              opacity: 1;
              font-size: 12px;
              width: 100px;
              transition: opacity 0.6s;
              transition-delay: 0.2s;
            }
          }
        }
      }
    }
  }
}
