.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__wrapper {
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 50px;
  }

  &__time {
    font-size: 8vw;
    color: var(--color-dark);
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    & > * {
      margin: 0 10px;
      border-radius: 50%;
      padding: 0;
      font-size: 50px;
      border: 0;
      transition: all 0.2s;

      &:hover {
        color: var(--color-dark);
      }
    }
  }

  &__submit {
    color: var(--color-green);
    border-color: var(--color-green);

    &:hover {
      color: var(--color-green);
    }

    &:disabled {
      color: var(--color-border);
      background: none;
      border-color: var(--color-border);
      cursor: not-allowed;
    }
  }
}
