.demo-chart {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  //   padding: 100px;

  & > * {
    width: 100%;
    & > div {
      & > canvas {
        width: 100% !important;
      }
    }
  }
}
