* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-background: #eee;
  --color-nav-icons: #d3d3d3;
  --color-dark: #333;
  --color-dark-highlight: #222;
  --color-border: #ccc;
  --color-red: #ff5d5d;
  --color-green: #5dc78c;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  //   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #000;
  text-decoration: none;
}

.pagination-btns {
  display: flex;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

.page-header {
  font-size: 6vw;
  font-weight: 100;
  letter-spacing: -0.29vw;
  color: #333;
}
