* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fafafa;
  --color-background: #efefef;
  --color-nav-icons: #d3d3d3;
  --color-dark: #333;
  --color-dark-highlight: #222;
  --color-border: #ccc;
  --color-red: #ff5d5d;
  --color-green: #5dc78c;
  --color-yellow: #fcd12e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark);
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  background: var(--color-dark);
  padding: 28px;

  h1 {
    font-size: 3vw;
    font-weight: 100;
    text-transform: uppercase;
  }

  &.home-title h1 {
    text-transform: capitalize;
  }
}
