.edit-journal {
  padding: 0 15%;

  &__title {
    width: 100%;
    background: none;
    border: none;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;

    &:focus {
      outline: none;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &__option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 305px;

    label {
      text-align: right;
      font-size: 12px;
    }

    select {
      background: none;
      border: 0;
      font-family: inherit;
      font-size: 12px;

      &:focus {
        outline: none;
      }
    }
  }

  &__submit {
    text-align: right;
  }
}
