.goal {
  &__columns {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // padding: 10px;
    grid-gap: 10px;
    margin-bottom: 10px;

    & > * {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--color-white);
      border-radius: 5px;
      border: 1px solid var(--color-border);
      padding: 10px;
      cursor: pointer;

      &:hover:not(:nth-child(5)) {
        color: var(--color-white);
        background: var(--color-dark);
      }
    }

    & > :last-child {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    grid-column: 1 / 5;
  }

  // &__details {
  //   grid-column: 4 / 9;
  // }

  &__due-date {
    grid-column: 5 / 6;
  }

  &__category {
    grid-column: 6 / 8;
  }

  &__language {
    grid-column: 8 / 10;
  }

  &__entries {
    margin-top: 10px;
    padding: 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 5px;
  }

  &__entry {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    // padding: 20px;
    border-radius: 5px;
    transition: background 0.2s;

    &:hover {
      background: var(--color-background);

      & > .goal__entry-title > .goal__entry-delete {
        opacity: 1;
      }
    }

    & > * {
      display: flex;
      align-items: center;
      padding: 20px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      grid-column: 1 / 5;

      &-bld {
        font-weight: bold;
      }
    }

    &-due-date {
      grid-column: 5 / 6;
    }

    &-category {
      grid-column: 6 / 8;
    }

    &-language {
      grid-column: 8 / 10;
    }

    &-completed {
      display: flex;
      justify-content: center;
    }

    &-delete {
      opacity: 0;
      transition: all 0.2s;
    }
  }
}
